user nobody nogroup;
worker_processes auto;

events { worker_connections 1024; }

http {
    include /etc/nginx/mime.types;
	default_type  application/octet-stream;
    sendfile off;


    server {
        listen ${NGINX_PORT};

		location / {
			root /usr/local/share/www;
		}

        location ${PROXY_PATH} {
			proxy_pass http://${WEB_HOSTNAME}:${WEB_PORT};
		}
    }
}

